.bobby__container {
  align-items: center;
  width: 100vw;
  max-width: 400px;
  height: auto;
  padding: 2rem !important;
  border-radius: 20px;
  z-index: 1000;
}

.winlose--exit {
  font-size: 15px;
}

.winlose--exit:hover {
  cursor: pointer;
}

.bobby__title {
  margin: 2rem 0 2rem;
  line-height: 1.1em;
}

.winlose--bobby {
  width: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.winlose--bobby-cbm {
  width: 500px;
  border: 5px solid var(--orange);
  border-radius: 20px;
  margin-bottom: 20px;
}