.settings__container {
  max-width: 475px;
  font-family: 'Inter', 'Arimo', sans-serif;
}

.settings__setting-div {
  padding: 1.25rem 0 .75rem;
}

.settings_setting-div-dark {
  padding: 1.5rem 0;
}

.settings__feedback-div {
  padding: .5rem 0;
}

.setting--name-div {
  display: flex;
  flex-direction: column;
}

.setting--name {
  font-size: 1.3em;
  font-weight: 300;
  margin: 0;
}

.setting--info {
  font-size: .68em;
  font-weight: 300;
  color: var(--light-grey);
  margin-top: 2px;
}

.settings__toggler-div {
  margin-left: auto;
  margin-bottom: 7px;
}

.settings__toggler {
  transform: scale(1.7);
  box-sizing: content-box;
  width: 25px;
  height: 13px;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  /* background-color: var(--light-grey); */
  border: 2.5px solid;
  border-color: var(--light-grey);
  background-color: var(--light-grey);

  transition: all 250ms;
}

.dark-mode .settings__toggler {
  border-color: var(--dark-grey);
  background-color: var(--dark-grey);
  
}

.settings__toggler-on,
.dark-mode .settings__toggler-on {
  border-color: var(--green);
  background-color: var(--green);
  justify-content: flex-end;
}

.high-contrast .settings__toggler-on {
  border-color: var(--orange);
  background-color: var(--orange);
}

.settings__toggler-circle {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;

  position: absolute;
  left: 0;
  
  transition: all 250ms;
}

.settings__toggler-on .settings__toggler-circle {
  left: 47%;
}

.settings__feedback-links-div {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.settings__feedback-link {
  color: var(--light-grey);
}

.settings__email {
  margin-right: 5px;
}

.settings__twitter {
  margin-left: 5px;
}

.settings__btn {
  margin-top: 5rem;
}