.stats__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 550px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px;
  opacity: 1 !important;
}

@media (max-width: 300px) {
  .stats__container {
    max-width: 100vw;
  }
}

.stats__stat--nonchart-container {
  width: 100%;
  justify-content: space-evenly;

  margin-top: 1rem;
}

.stat--nonchart-div:nth-child(2) {
  margin: 0 0.5rem 0 1rem;  
}

.stat--nonchart-div:nth-child(3) {
  margin: 0 1rem 0 0.5rem;  
}

.stat--nonchart-stat {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}

.stat--nonchart-text {
  margin: 0;
  font-family: 'Inter';
  font-size: .85em;
  font-weight: 300;
  text-align: center;
  /* width: min-content; */
}

.min-content {
  width: min-content;
}

.stats__chart-title {
  margin-bottom: 15px;
}

.stats--chart-div {
  margin-top: 0;
  width: 80%;
  padding: 0 10px;

  /* border: 1px solid red; */
}

.chart-guess-stat-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* width: 450px; */
  padding: 7px 0;

  /* border: solid red 1px; */
}

.chart-label-div {
  /* border: 1px solid blue; */
}

.chart-guess-stat-label {
  font-family: 'Inter';
  font-size: .85em;
  font-weight: 300;
  width: 1em;
  margin: 0 5px;
}

.chart-bar-div {
  display: flex;
  align-items: center;
  background-color: var(--med-grey);
  min-width: fit-content;
  height: 25px;
  margin: 0;
}
/* 
.chart-bar-div-selected {
  background-color: var(--green);
}

.high-contrast .chart-bar-div-selected {
  background-color: var(--orange);
} */

.chart-bar-text {
  color: #FFFFFF;
  margin: 0 5.5px;
}

.stats__buttons-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  /* border: 1px solid green; */
}

.stats__btn {
  min-width: 45%;
}

.stats__btn-divider {
  font-size: 3rem;
  font-family: 'Inter';
  font-weight: 100;
  color: var(--med-grey);
}

.dark-mode .stats__btn-divider {
  color: var(--dark-grey);
}


.new-game-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  background-color: var(--green);
  padding: 0;
}

.new-game-text {
  font-size: 1.2em;
  color: #FFFFFF;
  margin: 0;
}

.new-game-div:hover {
  cursor: pointer;
}

.share-div:hover {
  cursor: pointer;
}

.share {
  font-size: 1.2em;
  margin: 0 18px 0 9px;
}

.share-icon {
  font-size: 1.2em;
  color: white;
}