.header__container {
  width: 100%;

  border-bottom: 1px solid;

  margin: 8px 0;
  
  justify-content: space-between;
  align-items: center;
  
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.modal-open .header__container {
  opacity: 0.3;
}

.header__icon-div {
  /* width: fit-content; */
  justify-content: center;

  border: 1px solid green;
}

.header__btn {
  width: min-content;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: var(--light-grey);
}

.dark-mode .header__btn {
  color: var(--dark-grey);
}

.header__btn:disabled {
  cursor: default;
}

.header__title {
  min-width: fit-content;
  font-size: 1.4em;
  font-weight: 700;

  border: 1px solid black;
}

/* @media (min-width: 450px) {
  .header__icon-div {
    padding: .25em;
  }

  .header__btn {
    margin: 0 .25em;
  }
} */
