.header__div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.modal-open .header__div {
  opacity: 0.3;
}

.header__icon {
  cursor: pointer;
  font-size: 1.1em;
}

.header__title {
  margin: 8px 0;
  font-size: 1.4em;
  font-weight: 700;
}

.header__question {
  margin-left: .75em;
}

.header__gear {
  margin-left: .75em;
}
