:root {
  --background: #121213;
  --background-light: #1e1e20;
  --dark-grey: #3a3a3c;
  --med-grey: #787c7e;
  --light-grey: #818384;
  --lightest-grey: #d3d6da;
  --yellow: #c9b458;
  --green: #6aaa64;
  --orange: #f5793a;
  --blue: #85c0f9;

  --bs: 0 0 0.75em rgba(0, 0, 0, .25),
  0 0 0.25em rgba(0, 0, 0, .15);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arimo';
  font-size: 1rem;
  transition: background-color 250ms;
  width: 100vw;
  /* height: 100vh; */

  /* border: 1px solid blue; */
}

@media (max-width: 400px) {
  body {
    font-size: 0.85rem;
  }
}

@media (min-width: 750px) {
  body {
    font-size: 1.15rem;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1.3rem;
  }
  
}

@media (min-width: 1250px) {
  body {
    font-size: 1.45rem;
  }

}

.dark-mode {
  background-color: var(--background);
}

.high-contrast {

}

.app {
  width: 100%;
  /* max-width: 100%; */
  /* height: 100%;
  max-height: 100%; */
  
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid red; */
}

@media (min-width: 500px) {
  .app {
    max-width: 500px;
  }
}

@media (min-width: 750px) {
  .app {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .app {
    max-width: 650px;
  }
}

@media (min-width: 1250px) {
  .app {
    max-width: 700px;
  }
}

/* --- GLOBAL BOTTOM BORDERS --- */
.border-bottom {
  border-bottom: 1px solid var(--lightest-grey);
}

.dark-mode .border-bottom {
  border-bottom: 1px solid var(--dark-grey);
}

/* --- GLOBAL BOX BORDER STYLE --- */
.box {
  border: 2px solid;
  /* border-color: inherit; */
  border-radius: 1px;
}

.box-filled {
  color: white;
}

/* --- GLOBAL COLOR CLASSES --- */

.correct {
  background-color: var(--green) !important;
  border-color: var(--green) !important;
}

.high-contrast .correct {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}

.wrong-spot {
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
}

.high-contrast .wrong-spot {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.incorrect {
  background-color: var(--med-grey) !important;
  border-color: var(--med-grey) !important;
}

.dark-mode .incorrect {
  background-color: var(--dark-grey) !important;
  border-color: var(--dark-grey) !important;
}

.empty-box {
  border-color: var(--med-grey) !important;
}

.dark-mode .empty-box {
  border-color: var(--dark-grey) !important;
}

/* --- GLOBAL MODAL STYLES --- */
.modal__container {
  width: 100vw;
  max-height: 95vh;
  box-shadow: var(--bs);
  animation: modal-slide 250ms;
  color: #000000;
  background-color: #ffffff;
  padding: 1em;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark-mode .modal__container {
  color: #ffffff;
  background-color: var(--background);
}

.modal__title {
  text-align: center;
  margin-bottom: .75em;
  font-size: 1.2em;
  line-height: 1em;
}

.modal__close {
  position: absolute;
  top: 0%;
  right: 5%;

  color: #000000;

  cursor: pointer;
}

.dark-mode .modal__close {
  color: var(--dark-grey);
}

.modal__close:hover {
  transform: scale(1.1);
}

.modal__subtitle {
  margin: 10px 0 10px;
}

.modal__text {
  font-size: .8em;
  font-weight: 400;
  margin: 10px 0px;
}

@keyframes modal-slide {
  0% {
    margin-top: 50px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.btn {
  padding: 10px 0;
  
  border-radius: 5px;
  
  background-color: var(--green);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;

  transition: all 250ms;
}

.high-contrast .btn {
  background-color: var(--orange);
}

.btn--text {
  font-size: 1.2em;
  color: #FFFFFF;
  margin: 0;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}